.nav {
    display: flex;
    text-align: center;
    background-color: rgb(50, 109, 148);
    justify-content: space-between;
    list-style: none;
}

.center {
    margin-top: 30px;
}

.center_left {
    margin-top: 30px;
    padding-right: 12px;
}

.center_right {
    margin-top: 30px;
    padding-left: 12px;
}

.mainScreen {
    display: flex;
}

#gdiv {
    background-color: aliceblue;
    width: 75%;
}

#gdiv,
form {}

#rdiv {
    background-color: rgb(133, 133, 202);
    width: 25%;
}

.choices {
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    height: 100px;
}